<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/component :: header"></div>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">

                    <div class="card-title mb-3"><h4>Succeed</h4></div>
                    <p class="text-success">Your registration completed successfully. You can login now.</p>
                    <a th:href="@{'/auth/login'}">Login</a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/component :: footer"></div>
</html>